<!DOCTYPE html>
<head>
    <title>My Lists</title>
    
    <style>
            body {
              background-color: linen;
            }
            
            table tr td{
              height: 50px;
              width: 50px;
            }
            .color1{
              background-color: black;
            }
            .color2{
              background-color: red;
            }
    </style>
</head>
<body>
<div class="wrapper">
    <!--BEGINNGING OF DYNAMIC DIV-->
    <h1>Random Numbers</h1>
    {% for number in random_numbers %}
        <p>{{ number }}</p>
    {% endfor %}
    <h1>Students</h1>
    {% for student in students %}
        <p>{{ student['name'] }} - {{ student['age'] }}</p>
    {% endfor %}


</div>
</body>
</html>