<html>
    <head>
        <title>Books & Authors</title>
        <link href="https://fonts.googleapis.com/css?family=Teko&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'ninja2/css/style.css' %}">    
        <script src="{% static 'app_name/js/script.js' %}"></script>        
    </head>
    <body >
        <body class="bg-light">
            <div class="container">
          <div class="py-5 text-center">
            <h2>Books & Authors</h2>
            <p class="lead"></p>
          </div>
        
          <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
                <table class="table table-striped">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for books in all_the_books1 %}
                      <tr>
                        <td>{{ books.id }}</td>
                        <td>{{ books.title }}</td>
                        <td><a href="/books/{{ books.id }}">View</a></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  
                 
            </div>
            <div class="col-md-8 order-md-1">
              <h4 class="mb-3">Add a Book</h4>
              <form class="needs-validation" novalidate action="/add_book" method="POST">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-6 mb-3">
                       <div class="mb-3 w-25 d-inline-block">Title:</div> 
                        <input type="text" class="form-control w-50 d-inline-block" name="title" required>
                        <div class="invalid-feedback w-25">
                            Valid Title is required.
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-md-6 mb-3 d-inline-block">
                        <div class="mb-3 w-25 d-inline-block">Description:</div>
                        <textarea class="form-control d-inline-block" name="description" rows="3" required></textarea>
                        <div class="invalid-feedback">
                          Valid Description is required.
                        </div>
                    </div>
                    <div class="row">
                    <button class="btn btn-primary btn-lg " type="submit">Add</button>
                    </div>
                    </form>
            </div>
                
            </div>
                <div class="row">             
            </div>
          </div>
        
          <footer class="my-5 pt-5 text-muted text-center text-small">
        </footer>
        </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>